<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='portfolio.css') }}">
</head>
<body>
    <h2>My Portfolio</h2>
    <img src="{{ url_for('static', filename='Arham.jpg') }}" alt="Arham" height="200" width="200">
    <p>My name is Muhammad Arham Afzal. I am currently doing ADP-CS from Punjab College.
       I want to become an AI Engineer.</p>

    <h2>Skills:</h2>
    <ul>
        <li>Python</li>
        <li>Flask</li>
        <li>Github</li>
    </ul>

    <a href="/contact"><button>Contact</button></a>
</body>
</html>
